<template>
  <div>
        <!-- 上传单文件.csv || .txt || .xlsx -->
        <!-- <el-button type="primary" 
            @click="$refs.uploadInput.click()">上传单文件
            <i class="el-icon-upload el-icon--right"></i>
        </el-button>

        <input type="file" style="display: none" ref="uploadInput" @change="importFile" accept=".csv, .txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

        <div ref="showFile"></div>
        <hr>
        {{fileData}}
        <hr> -->

        <!-- 上传多文件.csv || .txt || .xlsx -->
        <!-- <el-button type="primary" 
            @click="$refs.uploadInputs.click()">上传多文件
            <i class="el-icon-upload el-icon--right"></i>
        </el-button>

        <input type="file" style="display: none" ref="uploadInputs" @change="importFiles" multiple accept=".csv, .txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

        <div ref="showFile"></div>
        <hr>
        {{fileData}}
        <hr> -->

        <!-- 上传图片 .jpg || .jpeg || .png -->
        <span class="show-span">
            <span class="span" v-for="item in imgList" :key="item.imgName">
                <img :src="item.url" class="img" alt="">
                <i class="el-icon-error icon" @click="deleteImg(item.imgName)"></i>
            </span>
        </span>
        <el-popover
            placement="right"
            trigger="hover">
            <span slot="reference">
                <span @click="$refs.uploadImg.click()" class="img-span">
                    <span class="img-inside1 inside"></span>
                    <span class="img-inside2 inside"></span>
                </span>
            </span>
            图片宽高要一致(建议200~300像素)，不能大于1M
        </el-popover>
      <input type="file" style="display: none" ref="uploadImg" @change="importImg" accept="image/*" />

  </div>
</template>

<script>
import XLSX from 'xlsx'
import $ from 'jquery'
export default {
  name: 'App',
  data () {
      return {
          fileData: '',
          imgList: [],
      }
  },
  created () {
      this.getImgList()
  },
  methods: {
        getImgList () {
           $.ajax({
                url: "http://www.fanjunyang.xyz:9675/imgList",
                type: "GET",
                success: data => {
                    if (data.code === 0) {
                        this.imgList = data.data
                    }
                }
            }) 
        },
        importImg (event) {
            let files = event.target.files

            if (!files.length) {
                return;
            }

            let file = files[0];

            if (!/(.png|.jpeg|.jpg|.webp)$/.test(file.name)) {
                this.$message('上传文件格式错误')
                return
            }

            let reader = new FileReader();
            reader.readAsDataURL(file)
            reader.onload = async () => {
                let base64 = reader.result

                let image = new Image()
                image.src = base64

                const size = Math.ceil(this.getBase64Size(base64) / 1024)

                if (size > 1024) {
                    return this.$message.warning('上传文件大小不符合')
                }

                const flag = await new Promise((resolve) => {
                    image.onload = () => {
                        if (image.width !== image.height) {
                            this.$message.warning('上传文件格式错误，宽高要相等')
                            resolve(false)
                        }
                        resolve(true)
                    };
                })
                
                if (flag) {
                    $.ajax({
                        url: "http://www.fanjunyang.xyz:9675/uploadImg",
                        data: {base64},
                        type: "POST",
                        dataType: "json",
                        success: () => {
                            this.getImgList()
                        }
                    })
                }
            }
            this.$refs.uploadImg.value = ''
        },
        deleteImg (imgName) {
                if (!imgName) {
                    return
                }

                this.$confirm('确定删除该图片吗？', '提示').then(() => {
                    $.ajax({
                        url: "http://www.fanjunyang.xyz:9675/deleteImg",
                        data: { imgName },
                        type: "POST",
                        dataType: "json",
                        success: data => {
                            if (!data.code) {
                                this.imgList.splice(this.imgList.findIndex(img => img.imgName === imgName), 1)
                                this.$message.success('删除成功')
                            }
                        }
                    })
                }).catch((e) => {
                    console.log(e);
                })
        },
        importFiles (event) {
            let files = event.target.files
            console.log(files)
        },
        importFile (event) {
            let files = event.target.files

            if (!files.length) {
                return;
            }

            let file = files[0];

            if (!/(.csv|.xlsx|.txt)$/.test(file.name)) {
                this.$message('上传文件格式错误')
                return
            }

            let reader = new FileReader();

            if (/(.csv|.txt)$/.test(file.name)) {
                reader.readAsText (file, 'utf-8')
                reader.onload = () => {
                    // 数据
                    let result = reader.result
                    if (/.txt$/.test(file.name)) {
                        // 最终数据
                        // console.log(result);
                        this.fileData = result
                    }
                    // 处理CSV
                    if (/.csv$/.test(file.name)) {
                        let arr = result.split('\n')
                        let arrHeader = arr[0].split(',').map(item => item.trim())
                        let csvResult = arr.map(item => {
                            let _str = {}
                            item.split(',').forEach((v, i) => {
                                _str[arrHeader[i]] = v.trim()
                            })
                            return _str
                        })
                        csvResult.shift()
                        csvResult.pop()

                        // 最终数据
                        // console.log(csvResult)
                        this.fileData = csvResult
                    }
                };
            }

            if (/.xlsx$/.test(file.name)) {
                reader.readAsBinaryString(file)
                reader.onload = (event) => {
                    try {
                        let data = event.target.result
                        let workBook =  XLSX.read(data, {type: 'binary'}) // 以二进制流方式读取得到整份excel表格对象

                        // console.log(workBook.SheetNames)  // 获取各个sheet表，可拿到自己需要的表

                        let result = {}   // 存储数据
                        workBook.SheetNames.forEach(sheetName => {
                            let workSheet = workBook.Sheets[sheetName]
                            result[sheetName] = XLSX.utils.sheet_to_json(workSheet)
                            // console.log(workBook.Sheets[sheetName]['!ref'])   // 表头
                        })

                        // 最终数据
                        // console.log(JSON.stringify(result, null, 2))
                        this.fileData = result

                    } catch (e) {
                        console.log(e);
                        return
                    }
                };
            }

            reader.onerror = () => {
                this.$message.error('文件读取失败')
                this.fileData = ''
            }
            this.$refs.showFile.innerHTML = `<i class="el-icon-document"></i>${file.name}`
            this.$refs.uploadInput.value = ''
        },
        // 通过base64获取图片的存储大小，返回字节
        getBase64Size (base64) {//获取base64字符串的大小
            if (base64) { // 获取base64图片byte大小
                base64=base64.split(",")[1].split("=")[0];
                let strLength = base64.length;
                let fileLength = strLength - (strLength / 8) * 2;
                return Math.floor(fileLength); // 向下取整
            } else {
                return null
            }
        },
  }
}
</script>

<style scoped>

    .icon {
        position: absolute;
        right: 0px;
        top: -10px;
        color: red;
        font-size: 25px;
    }

    .span {
        display: inline-block;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
        margin-right: 10px;
    }

    .img-span {
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 5px;
        border: 1px dashed #ccc;
        position: relative;
    }

    .img-inside1 {
        width: 50px;
        height: 2px;
        display: inline-block;
        background-color: #ccc;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -1px;
    }

    .img-inside2 {
        width: 2px;
        height: 50px;
        display: inline-block;
        background-color: #ccc;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -25px;
    }

    .img-span:hover {
        border: 1px dashed aqua;
    }

    .img-span:hover .inside {
        background-color: aqua;
    }

</style>
